/* 
 * ========
 * Variables
 * ========
*/

:root {
    /* Colours */
    --blue-1: #3E8DE3;
    --blue-2: #0C2D87;
    --blue-h: #3F6ADE;
    --blue-btn: #4FA3FF;
    --blue-link: #3366CC;
    --bg-colour-1: #FFFFFF;
    --bg-colour-2: #F3F3F3;
    --bg-colour-3: #B3B3B3;
    --bg-colour-4: #55A6FF;
    --body-colour: #04060D;

    /* Borders & Shadows */
    --section-border: 1px solid #C8C8C8;
    --section-border-2: 5px solid #C8C8C8;
    --more-input-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.40);
    --content-border: 1.33px solid #c4c4c5;
    /* #D7D7D8; */
    --content-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
    --btn-shadow: 0rem 0.25rem 0.25rem 0rem rgba(0, 0, 0, 0.25);
    --btn-border: .0625rem solid #000000;
    --media-btn-border: 1px solid #04060D;
    --media-btn-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    --record-wrapper-border: 1px solid #04060D;
    --box-img-border: 1.5px solid #B2B2B2;
    /* --menu-border: .125rem solid #B2B2B2;
    --submenu-mobile-border: .0625rem solid #B2B2B2;
    --footer-border-top: .125rem solid #04060D;
    --menu-shadow: 0rem .5rem 1rem 0rem rgba(0, 0, 0, 0.25); */

    /* Fonts & Font Families */
    --body-font-family: Inter, "Inria Sans", sans-serif;
    --nav-font-family: "Inria Sans", sans-serif;
    --heading-font-family: "Space Grotesk", sans-serif;
    --record-font-family: "Spline Sans", sans-serif;

    --body-font: normal 300 18px/140% var(--body-font-family);
    --box-body-font: normal 400 .9375rem/150% var(--body-font-family);
    --box-a-font: normal 400 15px/22.5px var(--body-font-family);
    --record-font: normal 600 20px/24px var(--record-font-family);
    --submenu-font: normal 300 1rem/normal var(--nav-font-family);
    --submenu-mobile-font: normal 400 1rem/normal var(--nav-font-family);
    --header-font: normal 300 1.125rem/normal var(--nav-font-family);
    --footer-font: normal 700 1.25rem/normal var(--nav-font-family);
    --footer-logo-font: normal 300 1.0625rem/normal var(--heading-font-family);
    --h1-font: normal 700 2.25rem/normal var(--heading-font-family);
    --h2-font-1: normal 500 1.5625rem/125% var(--heading-font-family);
    --h2-font-2: normal 700 1.875rem/75% var(--heading-font-family);
    --btn-font: normal 700 1.4063rem/102.273% var(--heading-font-family);
    --note-display-font: normal 700 30px/25.2px var(--body-font-family);

    /* Transitions */
    --container-shrink: all 1.5s ease;
    --section-remove: height 1.5s ease, padding 1.5s ease, margin 1.5s ease;
    /* --box-a-transition: all 0.5s ease; */

    /* Switch-related variables */
    --record-width: 100px;
    --record-height: 36px;
}

/**
 * ========
 * General Page Contents
 * ========
**/

body {
    background-color: var(--bg-colour-2);
}

h1 {
    font: var(--h1-font);
    color: var(--blue-h);
    letter-spacing: -0.0112rem;
}

h2 {
    color: var(--blue-h);
    font: var(--h2-font-1);
}

p {
    font: var(--body-font);
    color: var(--body-colour);
}

/* Lower entire page contents below header */
main {
    max-width: 100%;
    margin-top: 3.875rem;
    /* overflow-y: hidden; */
}

/* Sticky footer fix */
body {
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
    min-height: 100vh;
}

footer {
    position: sticky;
    top: 100vh;
    z-index: 10;
}

button {
    transition: all 0.1s linear, transform 0.04s linear;
}

button:focus,
button:active,
button:active:focus {
    outline: none;
}

/* header {
    max-width: 100vw;
} */

@media screen and (max-width: 62.5rem) {
    main {
        margin-bottom: 0;
    }

    footer {
        position: relative;
        top: auto;
    }
}

/**
 * ========
 * "Hero" / Title
 * ========
**/

/* For mobile phone screens */
.title-content div {
    padding-top: 3rem;
    padding-bottom: 2.1875rem;
    padding-left: 2.1875rem;
    padding-right: 2.1875rem;

}

.title {
    text-align: center;
    font-size: 1.875rem;
    margin-bottom: .9375rem;
}

.subtitle {
    font-size: .9375rem;
    text-align: center;
    max-width: 40rem;
    /*  35.8125rem  */
    margin-left: auto;
    margin-right: auto;
}

/* For tablets and desktop screens */
@media screen and (min-width: 36rem) {
    .title-content div {
        padding-top: 3.4375rem;
        margin-left: auto;
        margin-right: auto;
    }

    .title {
        font-size: 2.25rem;
        margin-bottom: .8125rem;
    }

    .subtitle {
        font-size: 1rem;
    }
}

/**
 * ========
 * Record Timer Styling
 * ========
**/

.record-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: var(--record-wrapper-border);
    border-radius: 5px;
    padding: 4px 3px 4px 0;
    /* justify-content: flex-start; */
    vertical-align: middle;
    /* max-height: calc(var(--record-width) / 2); */
    width: var(--record-width);
    height: var(--record-height);

    /* padding-left: 12px;   Equal to general width of #switch-flat img */
}

.record-wrapper svg {
    width: 37px;
    height: var(--record-height);
}

.record-wrapper p {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    font: var(--record-font);
    color: var(--body-colour);
    letter-spacing: -0.2px;
}

#record-circle circle {
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    /* For scaling circle via css */
    fill: rgb(184, 184, 184);
    stroke: #646464;
    stroke-width: .5px;
    -webkit-transition: fill 0.7s ease;
    -o-transition: fill 0.7s ease;
    transition: fill 0.7s ease;
}

/* Toggled class applied on #record-circle svg element */
#record-circle.recording {
    animation: 1.5s recordBlink ease infinite;
    -webkit-animation: 1.5s recordBlink ease infinite;
    -moz-animation: 1.5s recordBlink ease infinite;
    -webkit-animation-delay: 0.35s;
    animation-delay: 0.35s;
}

#record-circle.recording circle {
    fill: red;
}

@-webkit-keyframes recordBlink {

    from,
    to {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@keyframes recordBlink {

    from,
    to {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@media screen and (max-width: 575px) {
    :root {
        --record-width: 90px;
    }

    .record-wrapper p {
        font-size: 17px;
    }

    .record-wrapper svg {
        width: 35px;
    }

    #record-circle circle {
        -webkit-transform: scale(0.85, 0.85);
        -ms-transform: scale(0.85, 0.85);
        transform: scale(0.85, 0.85);
    }
}

/**
 * ========
 * Wavesurfer.js 
 * ========
**/

.wave-wrapper {
    /* margin-top: 40px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    vertical-align: middle;
    /* height: 222px; */
    margin-top: 13px;
    margin-bottom: 35px;
}

#waveform {
    width: 658px;
    height: 10rem;
    border: 2px solid black;
    border-radius: 5px;
    /* box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.50); */
    /* padding: 13px 61px 35px 61px; */
}

#recorded-wave ::part(hover-label):before {
    content: '⏱️ ';
}

#mic-wave,
#recorded-wave {
    display: none;
    /* Change to display when recording button is pressed */
    position: relative;
    width: 100%;
    height: 0%;
    overflow: hidden;
    -webkit-transition: all 1s ease 1s;
    -o-transition: all 1s ease 1s;
    transition: all 1s ease 1s;
}

@media screen and (max-width: 768px) {
    .wave-wrapper {
        overflow-x: scroll;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
        -webkit-box-pack: left;
        -ms-flex-pack: left;
        justify-content: left;

        /* border: 1px solid #000; */
        /* border-radius: 8px; */
        margin: 35px 0;
    }

    .piano-keys {
        margin-top: 0;
    }

    #waveform {
        padding: 0;
        margin: 0;
    }

}

/**
 * ========
 * Drag and Drop File Input
 * ========
**/

.box-dragdrop,
.box-icon,
.box-uploading,
.box-success,
.box-error {
    display: none;
}

.drop-in-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    vertical-align: middle;

    max-width: 663px;
    width: auto;
    min-height: 323px;
    height: auto;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;

    border-radius: 5px;
    border: 2px solid #C8C8C8;
    background: #FCFCFC;
}

.drop-box {
    width: calc(100% - 55px);

    height: calc(100% - 55px);
    /* height: auto; */

    background: #EBF3FB;
    position: relative;
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: center;
    vertical-align: middle;
    font: var(--body-font);
    color: #0C2D87;
}

.box-input {
    padding-top: calc(10% - (18px / 2));
}

.drop-box.support-dragdrop .box-input {
    padding-top: 0;
}

/* If drag and drop is supported, then this class is added */
.drop-box.support-dragdrop {
    /* outline: 2.5px dashed #7A90DE;
            outline-offset: -12px; */
    -webkit-transition: background-color .15s linear;
    -o-transition: background-color .15s linear;
    transition: background-color .15s linear;
}

.drop-box.support-dragdrop .box-outline {
    position: absolute;
    top: 12px;
    left: 12px;
    width: calc(100% - 24px);
    /* width: auto; */
    height: calc(100% - 24px);
    opacity: 1;

    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%237A90DEFF' stroke-width='3' stroke-dasharray='10%2c 16' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    -o-transition: width .15s ease-in-out, height .15s ease-in-out, top .15s ease-in-out, left .15s ease-in-out, opacity .2s linear;
    transition: width .15s ease-in-out, height .15s ease-in-out, top .15s ease-in-out, left .15s ease-in-out, opacity .2s linear;
    -webkit-transition: width .15s ease-in-out, height .15s ease-in-out, top .15s ease-in-out, left .15s ease-in-out, opacity .2s linear;
}

.drop-box.support-dragdrop .box-dragdrop {
    display: inline;
}

.drop-box.support-dragdrop .box-icon {
    width: 162px;
    height: 112px;
    display: block;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
}

.drop-box.support-dragdrop .box-icon img {
    width: auto;
    /* 162px */
    height: 100%;
}

/* During/after the upload process, hide main input icon + text of drop box */
.drop-box.is-uploading .box-input *,
.drop-box.is-success .box-input *,
.drop-box.is-error .box-input * {
    visibility: hidden;
}

.drop-box.is-success .box-input .box-outline,
.drop-box.is-error .box-input .box-outline {
    visibility: visible;
}

.drop-box.is-uploading .box-uploading,
.drop-box.is-success .box-success,
.drop-box.is-error .box-error {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;

    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Uploading prompt */
.drop-box.is-uploading .box-uploading {
    font-weight: 400;
    font-style: italic;
}

.drop-box.is-uploading .box-input .box-outline {
    visibility: visible;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}

.box-success {
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

/* Success prompt */
.box-success #success-msg {
    -webkit-animation: pop-up .25s ease;
    animation: pop-up .25s ease;

    margin-bottom: 7px;
}

.box-success #success-msg #success-filename {
    font-style: italic;
}

.box-success #success-reupload {
    margin-top: 7px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-animation: pop-up-gradual .35s ease .65s;
    animation: pop-up-gradual .35s ease .65s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.box-success #success-reupload strong {
    cursor: pointer;
    text-decoration: underline;
}

.box-success #success-reupload strong:hover,
.box-success #success-reupload strong:focus,
.box-success #success-reupload strong.has-focus {
    color: #3E8DE3;
}

@-webkit-keyframes pop-up {
    from {
        -webkit-transform: scale(0);
    }

    75% {
        -webkit-transform: scale(1.1);
    }

    to {
        -webkit-transform: scale(1);
    }
}

@keyframes pop-up {
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    75% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes pop-up-gradual {
    from {
        -webkit-transform: scale(0);
    }

    to {
        -webkit-transform: scale(1);
    }
}

@keyframes pop-up-gradual {
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/* Error prompt */
.box-error #error-msg {
    margin-bottom: 7px;
}

.box-error #error-reupload {
    margin-top: 7px;
}

.box-error #error-reupload strong {
    cursor: pointer;
    text-decoration: underline;
}

.box-error #error-reupload strong:hover,
.box-error #error-reupload strong:focus,
.box-error #error-reupload strong.has-focus {
    color: #3E8DE3;
}

/* When mouse with file drags over drop-box, change appearance slightly to be more intuitive */
.drop-box.is-dragover {
    /* outline-color: #5E7ADF; */
    background-color: #FCFCFC;
}

.drop-box.is-dragover .box-outline {
    width: calc(100% - 44px);
    height: calc(100% - 44px);
    top: 22px;
    left: 22px;
}

#prerecordFile {
    position: absolute;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
}

#prerecordFile+label {
    position: relative;
    text-align: center;

    max-width: 60%;
    display: inline-block;
    overflow: hidden;
    cursor: pointer;
}

#prerecordFile+label strong {
    font-weight: 700;
    -webkit-transition: color .25s ease;
    -o-transition: color .25s ease;
    transition: color .25s ease;
    text-decoration: underline;
}

#prerecordFile+label:hover strong,
#prerecordFile:focus+label strong,
#prerecordFile.has-focus+label strong {
    color: #3E8DE3;
}

#prerecordFile:focus+label,
#prerecordFile.has-focus+label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

@media screen and (max-width: 768px) {
    #prerecordFile+label {
        font-size: 16px;
    }

    .box-uploading {
        font-size: 16px;
    }

    .box-error {
        font-size: 16px;
    }

    .box-success {
        font-size: 16px;
    }
}

@media screen and (max-width: 575px) {
    .drop-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        padding: 0;
        min-height: calc(323px - 55px);
        height: auto;
        font-size: 14px;
    }

    .box-input {
        width: 100%;
        /* padding-top: calc(((323px - 55px) / 2) - (18px / 2)); */
    }

    #prerecordFile+label {
        font-size: 14px;
    }

    .box-uploading {
        font-size: 14px;
    }

    .box-error {
        font-size: 14px;
    }

    .box-success {
        font-size: 14px;
    }

    .drop-box.is-uploading .box-uploading,
    .drop-box.is-success .box-success,
    .drop-box.is-error .box-error {
        left: 12.5%;
        max-width: 75%;
        width: auto;
    }
}

/**
 * ========
 * General "Record Section" Code
 * ========
**/

#section {
    max-width: 1000px;
    margin: auto;
    margin-bottom: 78px;
    width: auto;
    /* overflow: hidden; */
    -webkit-transition: var(--section-remove);
    -o-transition: var(--section-remove);
    transition: var(--section-remove);
}

#heading {
    position: relative;
    padding-left: 0;
}

#heading::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    top: calc(100% + 2px);
    left: 0;

    /* stroke-width: 5px;
    stroke: #0F36A0; */
    background-color: #0F36A0;
    border-radius: 5px;
}

#content {
    margin-top: calc(2px + 23px);
    padding-top: 39px;
    padding-bottom: 33px;
    /* Line Padding + General Padding */
    min-height: 514px;
    height: auto;
    overflow: hidden;

    border-radius: 8px;
    border: var(--content-border);
    box-shadow: var(--content-shadow);
    /* filter: blur(1.5px); */
    background: var(--bg-colour-1);
    -webkit-transition: var(--section-remove);
    -o-transition: var(--section-remove);
    transition: var(--section-remove);
}

.mic-wrapper {
    position: relative;
    height: auto;
    border-bottom: 1px solid #C8C8C8;
    padding-bottom: 45px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 44px;

    -webkit-transition: var(--section-remove);

    -o-transition: var(--section-remove);

    transition: var(--section-remove);
}

.wrapper-divider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: -20px;
    left: calc(50% - (85px / 2));
    right: calc(50% - (85px / 2));
    width: 85px;
    height: 42px;

    -webkit-box-pack: center;

    -ms-flex-pack: center;

    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    vertical-align: middle;
    background: var(--bg-colour-1);

    -webkit-transition: var(--section-remove);

    -o-transition: var(--section-remove);

    transition: var(--section-remove);
}

.wrapper-divider h2 {
    color: var(--body-colour);
    text-align: center;
    font: var(--h2-font-2);
    font-size: 26px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 1.3px;
}

.file-wrapper {
    position: relative;
    height: auto;
    /* padding-bottom: 33px; */
    margin-left: 30px;
    margin-right: 30px;

    -webkit-transition: var(--section-remove);
    -o-transition: var(--section-remove);
    transition: var(--section-remove);
}

#mic-text,
#file-text {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.text-body {
    max-width: 530px;
    width: auto;
    margin-left: auto;
    /*10%*/
    margin-right: auto;
    color: #000000;
    text-align: center;
    /* font: var(--box-body-font); */
}

.text-btn {
    width: 243px;
    height: 59px;

    -ms-flex-item-align: center;

    -ms-grid-row-align: center;

    align-self: center;
    margin-top: 30px;

    border-radius: 4.125rem;
    border: var(--btn-border);
    background: var(--blue-btn);
    -webkit-box-shadow: var(--btn-shadow);
    box-shadow: var(--btn-shadow);
}

.text-btn p {
    font: var(--btn-font);
    color: var(--bg-colour-1);
    text-align: center;
}

#mic-btn-identify,
#file-btn-identify {
    cursor: pointer;
}

#mic-btn-identify:disabled,
#file-btn-identify:disabled {
    background: #9acafd;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: default;

}

#mic-btn-identify.btn-down,
#file-btn-identify.btn-down {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-box-shadow: inset 0px 0px 49px rgb(0, 0, 0, 0.4);
    box-shadow: inset 0px 0px 49px rgb(0, 0, 0, 0.4);
    /* Basically just shades background color w/out changing it */
}

/* Top row of buttons and switch */
#row-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    max-width: 658px;
    padding: auto;
    margin: auto;
    /* margin-top: 39px; */
}

#media-btn {
    position: relative;
}

#media-btn button {
    margin-top: 4px;
    margin-bottom: 4px;
    width: 49px;
    height: 49px;

    padding: 0;
    border-radius: 5px;
    border: 1px solid #04060D;
    background: var(--blue-btn);
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

#media-btn button:disabled {
    background: #9acafd;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: default;
}

#btn-record,
#btn-play {
    margin-right: 19px;
}

#media-btn img {
    height: 25px;
    width: auto;
}

#btn-record img {
    height: 27px;
    width: auto;
}

@media screen and (max-width: 768px) {
    #section {
        margin-bottom: 45px;
    }

    #content {
        padding-left: 40px;
        padding-right: 40px;
    }

    .mic-wrapper {
        margin-left: 0;
        margin-right: 0;
    }

    .file-wrapper {
        margin-left: 0;
        margin-right: 0;
    }

    #btn-record,
    #btn-play {
        margin-right: 1vw;
    }

    .text-body {
        font-size: 16px;
    }
}

#media-btn button.btn-down {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-box-shadow: inset 0px 0px 49px rgb(0, 0, 0, 0.4);
    box-shadow: inset 0px 0px 49px rgb(0, 0, 0, 0.4);
    /* Basically just shades background color w/out changing it */
}

#media-btn button:active {
    transform: translateY(4px);
    box-shadow: inset 0px 0px 49px rgb(0, 0, 0, 0.5);
    /* box-shadow: inset 0px 0px 49px rgb(0, 0, 0, 0.4); */
}

#btn-record:disabled {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
}

/**
 * ========
 * Note Check Popup Styling
 * ========
**/
.check-notes-screen {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    vertical-align: middle;

    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: -2;
    opacity: 0;

    -webkit-transition: opacity 0.5s ease;

    -o-transition: opacity 0.5s ease;

    transition: opacity 0.5s ease;
}

.show-check-notes {
    z-index: 11;
    opacity: 1;

}

.check-notes-wrapper {
    max-width: 800px;
    width: auto;
    min-height: 400px;
    max-height: 90vh;
    height: auto;
    background: #FFFFFF;
    border-radius: 5px;
    border: 2px solid #000;

    margin-left: auto;
    margin-right: auto;
    /* margin-top: 10vh; */
    padding: 40px 30px;

    transform: translateY(25px);
}

.show-check-notes .check-notes-wrapper {
    transform: translateY(0);
    transition: transform 0.5s ease;
    transition-delay: 0.1s;
}

input[type=checkbox] {
    display: none;
}

/* Note display styling */

.note-display {
    max-width: 656px;
    width: 85%;
    /* width: 366px; */
    min-height: 74px;
    height: auto;
    margin: 23px auto 35px auto;
    padding: 20px;

    border-radius: 5px;
    border: 1.5px solid #000;
}

.note-select {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    color: #000000;

    border-radius: 50px;
    margin: auto;
    width: fit-content;
    height: 50px;

    cursor: pointer;
    transition: background-color 0.3s ease
}

.note-select:hover {
    background-color: #b3d8ff;
}

.note-select.selected {
    background-color: var(--blue-btn);
}

.note-select span {
    text-align: center;
    font: var(--note-display-font);
    margin: auto;
}

#btn-confirm {
    cursor: pointer;
}

#btn-confirm:disabled {
    background: #9acafd;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: default;
}

#btn-confirm.btn-down {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-box-shadow: inset 0px 0px 49px rgb(0, 0, 0, 0.4);
    box-shadow: inset 0px 0px 49px rgb(0, 0, 0, 0.4);
    /* Basically just shades background color w/out changing it */
}

@media screen and (max-width: 1000px) {
    .note-select {
        border: solid 0.5px #E6E6E6;
    }
}

@media screen and (max-width: 900px) {
    .check-notes-wrapper {
        width: auto;
        margin-left: 50px;
        margin-right: 50px;
    }

    #btn-confirm {
        width: 193px;
        height: 54px;
    }

    #btn-confirm p {
        font-size: 20px;
    }
}

@media screen and (max-width: 380px) {
    .check-notes-wrapper {
        padding: 25px 15px;
    }

    .check-notes-wrapper p {
        transform: scale(0.9);
    }

    .note-display {
        margin: 13px auto 25px auto;
    }

    #btn-confirm {
        margin-top: 20px;
    }

    .note-display {
        padding: 10px;
    }

    .note-select span {
        font-size: 26px;
    }
}

/**
 * ========
 * Loading Screen Code
 * ========
**/

.loading-screen {
    --colour-1: #55A6FF;
    --colour-2: #FFFFFF;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    vertical-align: middle;

    position: fixed;
    height: 0;
    width: 100%;
    background: var(--colour-1);
    z-index: -1;
    opacity: 0;

    -webkit-transition: opacity 0.5s ease;

    -o-transition: opacity 0.5s ease;

    transition: opacity 0.5s ease;
}

.show-loading {
    z-index: 9;
    opacity: 0.95;
    height: 100%;
    -webkit-animation: change-clr-1-bg 3.5s linear infinite;
    animation: change-clr-1-bg 3.5s linear infinite;
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
}

.load-wrapper {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 7.5%;
}

#load-text {
    text-align: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

#load-text p {
    position: relative;
    font-size: 32px;

    color: var(--colour-2);
    font-family: var(--body-font-family);
    font-weight: 300;
    font-style: italic;
}

.show-loading #load-text p {
    -webkit-animation: change-clr-2 3.5s linear infinite;
    animation: change-clr-2 3.5s linear infinite;
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
}

#load-text p::after {
    position: absolute;
    left: 100%;
    text-align: left;

    content: "";
    font-size: 32px;
    color: var(--colour-2);
    font-family: var(--body-font-family);
    font-weight: 300;
    font-style: italic;
}

.show-loading #load-text p::after {
    -webkit-animation: dot-animation 3s linear infinite, change-clr-2 3.5s linear infinite;
    animation: dot-animation 3s linear infinite, change-clr-2 3.5s linear infinite;
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
}

@-webkit-keyframes dot-animation {
    from {
        content: "";
    }

    25% {
        content: ".";
    }

    50% {
        content: "..";
    }

    75% {
        content: "...";
    }
}

@keyframes dot-animation {
    from {
        content: "";
    }

    25% {
        content: ".";
    }

    50% {
        content: "..";
    }

    75% {
        content: "...";
    }
}

#load-animation {
    width: 300px;
    height: 125px;
}

.note {
    position: relative;
    width: 50px;
    height: 30px;
    /* background-color: white; */
    border-radius: 50px / 30px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.note-inner {
    position: absolute;
    content: "";
    width: 28px;
    height: 15px;
    -webkit-box-shadow: 0 0 0 300vh var(--colour-2);
    box-shadow: 0 0 0 300vh var(--colour-2);
    border-radius: 28px / 15px;
    left: 11px;
    top: 7.5px;
    -webkit-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    transform: rotate(50deg);
}

.show-loading .note-inner {
    -webkit-animation: change-clr-2-inner 3.5s cubic-bezier(1, 0, .87, 1.18) infinite;
    animation: change-clr-2-inner 3.5s cubic-bezier(1, 0, .87, 1.18) infinite;
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
}

#note-1 {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.show-loading #note-1 {
    -webkit-animation: note-1-drop 3.5s cubic-bezier(1, 0, .87, 1.18) infinite;
    animation: note-1-drop 3.5s cubic-bezier(1, 0, .87, 1.18) infinite;
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
}

#note-2 {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.show-loading #note-2 {
    -webkit-animation: note-2-drop 3.5s cubic-bezier(1, 0, .87, 1.18) infinite;
    animation: note-2-drop 3.5s cubic-bezier(1, 0, .87, 1.18) infinite;
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
}

#note-3 {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.show-loading #note-3 {
    -webkit-animation: note-3-drop 3.5s cubic-bezier(1, 0, .87, 1.18) infinite;
    animation: note-3-drop 3.5s cubic-bezier(1, 0, .87, 1.18) infinite;
    -webkit-animation-delay: 0.75s;
    animation-delay: 0.75s;
}

@-webkit-keyframes note-1-drop {
    from {
        -webkit-transform: translateY(-100px) translateX(0px) scale(0);
        transform: translateY(-100px) translateX(0px) scale(0);
    }

    20% {
        -webkit-transform: translateY(-100px) translateX(0px) scale(0);
        transform: translateY(-100px) translateX(0px) scale(0);
    }

    21.25% {
        -webkit-transform: translateY(-75px) translateX(0px) scale(0.5);
        transform: translateY(-75px) translateX(0px) scale(0.5);
    }

    31.25% {
        -webkit-transform: translateY(0px) translateX(0px) scale(1);
        transform: translateY(0px) translateX(0px) scale(1);
    }

    31.25025% {
        -webkit-transform: translateY(10px) translateX(0px) scale(1.05);
        transform: translateY(10px) translateX(0px) scale(1.05);
    }

    31.5% {
        -webkit-transform: translateY(7px) translateX(0px) scale(calc(1 + (0.05 * 0.7)));
        transform: translateY(7px) translateX(0px) scale(calc(1 + (0.05 * 0.7)))
    }

    32.5%,
    60% {
        -webkit-transform: translateY(0px) translateX(0px) scale(1);
        transform: translateY(0px) translateX(0px) scale(1);
    }

    80%,
    to {
        -webkit-transform: translateY(0) translateX(150px) scale(0);
        transform: translateY(0) translateX(150px) scale(0);
    }
}

@keyframes note-1-drop {
    from {
        -webkit-transform: translateY(-100px) translateX(0px) scale(0);
        transform: translateY(-100px) translateX(0px) scale(0);
    }

    20% {
        -webkit-transform: translateY(-100px) translateX(0px) scale(0);
        transform: translateY(-100px) translateX(0px) scale(0);
    }

    21.25% {
        -webkit-transform: translateY(-75px) translateX(0px) scale(0.5);
        transform: translateY(-75px) translateX(0px) scale(0.5);
    }

    31.25% {
        -webkit-transform: translateY(0px) translateX(0px) scale(1);
        transform: translateY(0px) translateX(0px) scale(1);
    }

    31.25025% {
        -webkit-transform: translateY(10px) translateX(0px) scale(1.05);
        transform: translateY(10px) translateX(0px) scale(1.05);
    }

    31.5% {
        -webkit-transform: translateY(7px) translateX(0px) scale(calc(1 + (0.05 * 0.7)));
        transform: translateY(7px) translateX(0px) scale(calc(1 + (0.05 * 0.7)))
    }

    32.5%,
    60% {
        -webkit-transform: translateY(0px) translateX(0px) scale(1);
        transform: translateY(0px) translateX(0px) scale(1);
    }

    80%,
    to {
        -webkit-transform: translateY(0) translateX(150px) scale(0);
        transform: translateY(0) translateX(150px) scale(0);
    }
}

@-webkit-keyframes note-2-drop {
    from {
        -webkit-transform: translateY(-100px) scale(0);
        transform: translateY(-100px) scale(0);
    }

    10% {
        -webkit-transform: translateY(-100px) scale(0);
        transform: translateY(-100px) scale(0);
    }

    11.25% {
        -webkit-transform: translateY(-75px) scale(0.5);
        transform: translateY(-75px) scale(0.5);
    }

    21.25% {
        -webkit-transform: translateY(0px) scale(1);
        transform: translateY(0px) scale(1);
    }

    21.25025% {
        -webkit-transform: translateY(10px) scale(1.05);
        transform: translateY(10px) scale(1.05);
    }

    21.5% {
        -webkit-transform: translateY(7px) scale(calc(1 + (0.05 * 0.7)));
        transform: translateY(7px) scale(calc(1 + (0.05 * 0.7)))
    }

    22.5%,
    60% {
        -webkit-transform: translateY(0px) translateX(0px) scale(1);
        transform: translateY(0px) translateX(0px) scale(1);
    }

    80%,
    100% {
        -webkit-transform: translateY(0) translateX(-150px) scale(0);
        transform: translateY(0) translateX(-150px) scale(0);
    }
}

@keyframes note-2-drop {
    from {
        -webkit-transform: translateY(-100px) scale(0);
        transform: translateY(-100px) scale(0);
    }

    10% {
        -webkit-transform: translateY(-100px) scale(0);
        transform: translateY(-100px) scale(0);
    }

    11.25% {
        -webkit-transform: translateY(-75px) scale(0.5);
        transform: translateY(-75px) scale(0.5);
    }

    21.25% {
        -webkit-transform: translateY(0px) scale(1);
        transform: translateY(0px) scale(1);
    }

    21.25025% {
        -webkit-transform: translateY(10px) scale(1.05);
        transform: translateY(10px) scale(1.05);
    }

    21.5% {
        -webkit-transform: translateY(7px) scale(calc(1 + (0.05 * 0.7)));
        transform: translateY(7px) scale(calc(1 + (0.05 * 0.7)))
    }

    22.5%,
    60% {
        -webkit-transform: translateY(0px) translateX(0px) scale(1);
        transform: translateY(0px) translateX(0px) scale(1);
    }

    80%,
    100% {
        -webkit-transform: translateY(0) translateX(-150px) scale(0);
        transform: translateY(0) translateX(-150px) scale(0);
    }
}

@-webkit-keyframes note-3-drop {

    from,
    0.5% {
        -webkit-transform: translateY(-100px) scale(0);
        transform: translateY(-100px) scale(0);
    }

    1.25% {
        -webkit-transform: translateY(-75px) scale(0.5);
        transform: translateY(-75px) scale(0.5);
    }

    11.25% {
        -webkit-transform: translateY(0px) scale(1);
        transform: translateY(0px) scale(1);
    }

    11.25025% {
        -webkit-transform: translateY(10px) scale(1.05);
        transform: translateY(10px) scale(1.05);
    }

    11.5% {
        -webkit-transform: translateY(7px) scale(calc(1 + (0.05 * 0.7)));
        transform: translateY(7px) scale(calc(1 + (0.05 * 0.7)))
    }

    12.5%,
    60% {
        -webkit-transform: translateY(0px) translateX(0px) scale(1);
        transform: translateY(0px) translateX(0px) scale(1);
    }

    80%,
    100% {
        -webkit-transform: translateY(0) translateX(150px) scale(0);
        transform: translateY(0) translateX(150px) scale(0);
    }
}

@keyframes note-3-drop {

    from,
    0.5% {
        -webkit-transform: translateY(-100px) scale(0);
        transform: translateY(-100px) scale(0);
    }

    1.25% {
        -webkit-transform: translateY(-75px) scale(0.5);
        transform: translateY(-75px) scale(0.5);
    }

    11.25% {
        -webkit-transform: translateY(0px) scale(1);
        transform: translateY(0px) scale(1);
    }

    11.25025% {
        -webkit-transform: translateY(10px) scale(1.05);
        transform: translateY(10px) scale(1.05);
    }

    11.5% {
        -webkit-transform: translateY(7px) scale(calc(1 + (0.05 * 0.7)));
        transform: translateY(7px) scale(calc(1 + (0.05 * 0.7)))
    }

    12.5%,
    60% {
        -webkit-transform: translateY(0px) translateX(0px) scale(1);
        transform: translateY(0px) translateX(0px) scale(1);
    }

    80%,
    100% {
        -webkit-transform: translateY(0) translateX(150px) scale(0);
        transform: translateY(0) translateX(150px) scale(0);
    }
}

@-webkit-keyframes change-clr-1-bg {
    from {
        background-color: var(--colour-1);
    }

    31.24999% {
        background-color: var(--colour-1);
    }

    31.25% {
        background-color: var(--colour-2);
    }

    100% {
        background-color: var(--colour-2);
    }
}

@keyframes change-clr-1-bg {
    from {
        background-color: var(--colour-1);
    }

    31.24999% {
        background-color: var(--colour-1);
    }

    31.25% {
        background-color: var(--colour-2);
    }

    100% {
        background-color: var(--colour-2);
    }
}

@-webkit-keyframes change-clr-2 {
    0% {
        color: var(--colour-2);
    }

    31.24999% {
        color: var(--colour-2);
    }

    31.25% {
        color: var(--colour-1);
    }

    100% {
        color: var(--colour-1);
    }
}

@keyframes change-clr-2 {
    0% {
        color: var(--colour-2);
    }

    31.24999% {
        color: var(--colour-2);
    }

    31.25% {
        color: var(--colour-1);
    }

    100% {
        color: var(--colour-1);
    }
}

@-webkit-keyframes change-clr-2-inner {
    0% {
        border-radius: 28px / 15px;
        width: 28px;
        height: 15px;
        left: 11px;
        top: 7.5px;
        -webkit-animation-timing-function: steps(1, end);
        animation-timing-function: steps(1, end);
        -webkit-box-shadow: 0 0 0 300vh var(--colour-2);
        box-shadow: 0 0 0 300vh var(--colour-2);
    }

    /* 31.24% {
        box-shadow: 0 0 0 300vh var(--colour-2);
    } */
    31.25% {
        border-radius: 28px / 15px;
        width: 28px;
        height: 15px;
        left: 11px;
        top: 7.5px;
        -webkit-box-shadow: 0 0 0 300vh var(--colour-1);
        box-shadow: 0 0 0 300vh var(--colour-1);
    }

    100% {
        border-radius: 28px / 15px;
        width: 28px;
        height: 15px;
        left: 11px;
        top: 7.5px;
        -webkit-box-shadow: 0 0 0 300vh var(--colour-1);
        box-shadow: 0 0 0 300vh var(--colour-1);
    }
}

@keyframes change-clr-2-inner {
    0% {
        border-radius: 28px / 15px;
        width: 28px;
        height: 15px;
        left: 11px;
        top: 7.5px;
        -webkit-animation-timing-function: steps(1, end);
        animation-timing-function: steps(1, end);
        -webkit-box-shadow: 0 0 0 300vh var(--colour-2);
        box-shadow: 0 0 0 300vh var(--colour-2);
    }

    /* 31.24% {
        box-shadow: 0 0 0 300vh var(--colour-2);
    } */
    31.25% {
        border-radius: 28px / 15px;
        width: 28px;
        height: 15px;
        left: 11px;
        top: 7.5px;
        -webkit-box-shadow: 0 0 0 300vh var(--colour-1);
        box-shadow: 0 0 0 300vh var(--colour-1);
    }

    100% {
        border-radius: 28px / 15px;
        width: 28px;
        height: 15px;
        left: 11px;
        top: 7.5px;
        -webkit-box-shadow: 0 0 0 300vh var(--colour-1);
        box-shadow: 0 0 0 300vh var(--colour-1);
    }
}

@media screen and (max-width: 575px) {

    #load-animation, 
    #load-text {
        -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
        transform: scale(0.7);
        /* transform: scale(0.7); */
    }
}

@media screen and (max-height: 500px) {

    #load-animation,
    #load-text {
        -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
        transform: scale(0.7);
        /* transform: scale(0.7); */
    }
}