/* 
 * ========
 * Variables
 * ========
*/

:root {
    /* Colours */
    --blue-1: #3E8DE3;
    --blue-2: #0C2D87;
    --blue-h: #3F6ADE;
    --blue-btn: #4FA3FF;
    --blue-link: #3366CC;
    --bg-colour-1: #FFFFFF;
    --bg-colour-2: #F3F3F3;
    --bg-colour-3: #B3B3B3;
    --bg-colour-4: #55A6FF;
    --body-colour: #04060D;

    /* Borders & Shadows */
    --section-border: 1px solid #C8C8C8;
    --section-border-2: 5px solid #C8C8C8;
    --more-input-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.40);
    --content-border: 1.33px solid #c4c4c5;
    /* #D7D7D8; */
    --content-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
    --btn-shadow: 0rem 0.25rem 0.25rem 0rem rgba(0, 0, 0, 0.25);
    --btn-border: .0625rem solid #000000;
    --media-btn-border: 1px solid #04060D;
    --media-btn-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    --record-wrapper-border: 1px solid #04060D;
    --box-img-border: 1.5px solid #B2B2B2;
    /* --menu-border: .125rem solid #B2B2B2;
    --submenu-mobile-border: .0625rem solid #B2B2B2;
    --footer-border-top: .125rem solid #04060D;
    --menu-shadow: 0rem .5rem 1rem 0rem rgba(0, 0, 0, 0.25); */

    --media-btn-border: 1px solid #04060D;
    --media-btn-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    /* Fonts & Font Families */
    --body-font-family: Inter, "Inria Sans", sans-serif;
    --nav-font-family: "Inria Sans", sans-serif;
    --heading-font-family: "Space Grotesk", sans-serif;

    --body-font: normal 300 18px/140% var(--body-font-family);
    --box-body-font: normal 400 .9375rem/150% var(--body-font-family);
    --box-a-font: normal 400 15px/22.5px var(--body-font-family);
    --submenu-font: normal 300 1rem/normal var(--nav-font-family);
    --submenu-mobile-font: normal 400 1rem/normal var(--nav-font-family);
    --header-font: normal 300 1.125rem/normal var(--nav-font-family);
    --footer-font: normal 700 1.25rem/normal var(--nav-font-family);
    --footer-logo-font: normal 300 1.0625rem/normal var(--heading-font-family);
    --h1-font: normal 700 2.25rem/normal var(--heading-font-family);
    --h2-font-1: normal 500 1.5625rem/125% var(--heading-font-family);
    --h2-font-2: normal 700 1.875rem/75% var(--heading-font-family);
    --btn-font: normal 700 1.4063rem/102.273% var(--heading-font-family);

    --note-display-font: normal 700 30px/25.2px var(--body-font-family);
    --data-header-font: normal 700 17px/25.2px var(--nav-font-family);
    --data-insert-font: normal 400 14px/normal var(--body-font-family);


    /* Transitions */
    --container-shrink: all 1.5s ease;
    --section-remove: height 1.5s ease, padding 1.5s ease, margin 1.5s ease;
    /* --box-a-transition: all 0.5s ease; */

    /* Switch-related variables */
    --record-width: 100px;
    --record-height: 36px;

    /* Piano-related variables */
    --piano-width: 658px;
    --white-key-width: calc(var(--piano-width) / 14);
    --black-key-width: calc(var(--white-key-width) * (44 / 70));
    --keydown-transition: all 0.1s ease-in;
}

/**
 * ========
 * General Page Contents
 * ========
**/

body {
    background-color: var(--bg-colour-2);
}

h1 {
    font: var(--h1-font);
    color: var(--blue-h);
    letter-spacing: -0.0112rem;
}

h2 {
    color: var(--blue-h);
    font: var(--h2-font-1);
}

p {
    font: var(--body-font);
    color: var(--body-colour);
}

/* Lower entire page contents below header */
main {
    max-width: 100%;
    margin-top: 3.875rem;
    /* overflow-y: hidden; */
}

/* Sticky footer fix */
body {
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
    min-height: 100vh;
}

footer {
    position: sticky;
    top: 100vh;
    z-index: 10;
}

button {
    transition: all 0.1s linear, transform 0.04s linear;
}

button:focus,
button:active,
button:active:focus {
    outline: none;
}

/* header {
    max-width: 100vw;
} */

@media screen and (max-width: 62.5rem) {
    main {
        margin-bottom: 0;
    }

    footer {
        position: relative;
        top: auto;
    }
}

/**
 * ========
 * "Hero" / Title
 * ========
**/

/* For mobile phone screens */
.title-content div {
    padding-top: 3rem;
    padding-bottom: 2.1875rem;
    padding-left: 2.1875rem;
    padding-right: 2.1875rem;

}

.title {
    text-align: center;
    font-size: 1.875rem;
    margin-bottom: .9375rem;
}

.subtitle {
    font-size: .9375rem;
    text-align: center;
    max-width: 40rem;
    /*  35.8125rem  */
    margin-left: auto;
    margin-right: auto;
}

/* For tablets and desktop screens */
@media screen and (min-width: 36rem) {
    .title-content div {
        padding-top: 3.4375rem;
        margin-left: auto;
        margin-right: auto;
    }

    .title {
        font-size: 2.25rem;
        margin-bottom: .8125rem;
    }

    .subtitle {
        font-size: 1rem;
    }
}

/**
 * ========
 * General "Record Section" Code
 * ========
**/

#section {
    max-width: 1000px;
    margin: auto;
    margin-bottom: 78px;
    width: auto;
    /* overflow: hidden; */
    -webkit-transition: var(--section-remove);
    -o-transition: var(--section-remove);
    transition: var(--section-remove);
}

.heading {
    position: relative;
    padding-left: 0;
}

.heading::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    top: calc(100% + 2px);
    left: 0;

    /* stroke-width: 5px;
    stroke: #0F36A0; */
    background-color: #0F36A0;
    border-radius: 5px;
}

.content {
    margin-top: calc(2px + 23px);
    padding-top: 39px;
    padding-bottom: 33px;
    /* Line Padding + General Padding */
    min-height: 514px;
    height: auto;
    overflow: hidden;

    border-radius: 8px;
    border: var(--content-border);
    box-shadow: var(--content-shadow);
    /* filter: blur(1.5px); */
    background: var(--bg-colour-1);
    -webkit-transition: var(--section-remove);
    -o-transition: var(--section-remove);
    transition: var(--section-remove);
}

#note-content {
    margin-bottom: 53px;
}

.text {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.text-body {
    max-width: 530px;
    width: auto;
    margin-left: auto;
    /*10%*/
    margin-right: auto;
    color: #000000;
    text-align: center;
    /* font: var(--box-body-font); */
}

.text-btn {
    width: 243px;
    height: 59px;

    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;

    border-radius: 4.125rem;
    border: var(--btn-border);
    background: var(--blue-btn);
    -webkit-box-shadow: var(--btn-shadow);
    box-shadow: var(--btn-shadow);
}

.text-btn p {
    font: var(--btn-font);
    color: var(--bg-colour-1);
    text-align: center;
}

#btn-retry {
    cursor: pointer;
}

#btn-retry:disabled {
    background: #9acafd;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: default;
}

#btn-retry:active {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-box-shadow: inset 0px 0px 49px rgb(0, 0, 0, 0.4);
    box-shadow: inset 0px 0px 49px rgb(0, 0, 0, 0.4);
    /* Basically just shades background color w/out changing it */
}

.staff-sound {
    position: relative;
}

.staff-sound button {
    margin-top: 4px;
    margin-bottom: 4px;
    width: 49px;
    height: 49px;

    padding: 0;
    border-radius: 5px;
    border: 1px solid #04060D;
    background: var(--blue-btn);
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.staff-sound button:disabled {
    background: #9acafd;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: default;
}

#btn-record,
#btn-play {
    margin-right: 19px;
}

.staff-sound img {
    height: 25px;
    width: auto;
}

#btn-record img {
    height: 27px;
    width: auto;
}

@media screen and (max-width: 768px) {
    #section {
        margin-bottom: 45px;
    }

    .content {
        padding-left: 40px;
        padding-right: 40px;
    }

    .text-body {
        font-size: 16px;
    }
}

.staff-sound button.active {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-box-shadow: inset 0px 0px 49px rgb(0, 0, 0, 0.4);
    box-shadow: inset 0px 0px 49px rgb(0, 0, 0, 0.4);
    /* Basically just shades background color w/out changing it */
}

#btn-record:disabled {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
}

/**
 * ========
 * Note Display Styling
 * ========
**/

.note-display {
    max-width: 656px;
    width: 85%;
    /* width: 366px; */
    min-height: 74px;
    height: auto;
    margin: 23px auto 35px auto;

    border-radius: 5px;
    border: 1.5px solid #000;
}

.note-display span {
    display: flex;
    vertical-align: middle;
    color: #000000;
    text-align: center;


    margin-top: 24px;
    margin-bottom: 24px;
}

.note-display span p {
    font: var(--note-display-font);
    line-height: 120%;
    height: fit-content;
    width: fit-content;
    margin: auto;
}
/**
 * ========
 * Table Styling
 * ========
**/

table {
    border-radius: 7px 7px 0px 0px;
    /* border: 1px solid #000; */
    overflow: hidden;
    width: 100%;

    border-collapse: collapse;
}

.data-wrapper {
    display: flex;

    max-width: 656px;
    min-height: 51px;
    /* min-height: 219.5px; */
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;


    border-radius: 7px 7px 0px 0px;
    border: 0.5px solid #000;
    background: #FFF;
    box-shadow: 0px 4px 10px 5px rgba(120, 120, 120, 0.25);
}

.data-table {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.data-header {
    color: #FFFFFF;
    font: var(--data-header-font);
    min-height: 51px;
    height: auto;
    /* 
    border-radius: 7px 7px 0px 0px; */
    background: #3F6ADE;
}

.data-empty td {
    font-style: italic;
    text-align: center;
}

.table td,
.table th {
    vertical-align: middle;
}

.data-chord .bold {
    font-weight: 700;
}

.data-insert {
    color: #000000;
    font: var(--data-insert-font);
}

.data-notation {
    line-height: 150%;
}

.staff-sound {
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    justify-self: center;
}

.staff-sound button {
    margin-top: auto;
    margin-bottom: auto;
    width: 29px;
    height: 29px;

    padding: 0;
    border-radius: 5px;
    border: var(--media-btn-border);
    background: var(--blue-btn);
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.staff-sound button:disabled {
    background: #9acafd;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: default;
}

.staff-sound img {
    height: 15px;
    width: auto;
    /* 26.041px */
}

.staff-sound button.active {
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-box-shadow: inset 0px 0px 49px rgb(0, 0, 0, 0.4);
    box-shadow: inset 0px 0px 49px rgb(0, 0, 0, 0.4);
    /* Basically just shades background color w/out changing it */
}

#data-wrapper-known {
    margin-bottom: 45px;
}

#data-wrapper-unknown {
    margin-top: 33px;
    margin-bottom: 39px;
    max-width: 565px;
}

#data-table-unknown thead,
#data-table-unknown tbody {
    width: 100%;
}

@media screen and (max-width: 504px) {
    #data-wrapper-unknown {
        overflow-x: scroll;
    }
}

@media screen and (max-width: 575px) {
    #data-wrapper-known {
        overflow-x: scroll;
    }
}

@media screen and (max-width: 768px) {
    .data-header {
        font-size: 15px;
    }

    .data-insert {
        font-size: 12px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {

    #data-wrapper-known,
    .note-display {
        max-width: 565px;
    }
}

/**
 * ========
 * Table Dropdown
 * ========
**/

.color-spacing {
    visibility: hidden;
}

.data-expand td {
    padding: 0; 
    border: none;
}

.staff-header {
    display: flex; 
    justify-content: space-between; 
    padding: 10px 40px 0 40px;
}

.staff-header span {
    font-weight: bold; 
    font-style: italic;
    margin-top: auto; 
    margin-bottom: auto;
}

.staff-wrapper {
    width: 100%;
}

.table-striped tbody tr.clickable {
    cursor: pointer;
    transition: all 0.2s linear;
}

.table-striped tbody tr.clickable:hover {
    background-color: #D0D0D0;
}

.table-striped tbody tr.clickable.active {
    background-color: #D0D0D0;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.table-striped tbody tr.clickable.active:hover {
    background-color: #E0E0E0;
}

.data-arrow {
    width: 20px; /* 30px; */
    height: 19.17px; /* 28.75px; */

    /* Vertical centering trick for absolute positioned elements below*/
    margin: auto;

    transition: transform 0.5s ease-out;
}

.table-striped tbody tr.clickable.active .data-arrow {
    transform: scaleY(-1);
}

/**
 * ========
 * FAQ Dropdown
 * ========
**/

#faq-heading {
    margin-bottom: 22px;
}

#faq-content {
    margin-top: calc(2px + 22px);

    /* Line Padding + General Padding */
    min-height: 215px;
    height: auto;
    padding: 0;
    overflow: visible;

    border-radius: 0;
    border: none;
    box-shadow: none;
    background: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

.faq-panel {
    min-height: 61px;
    background: none;
    border-radius: 5px;
    height: auto;
    box-shadow: 0px 4px 10px rgba(66, 66, 66, 0.25);
    /* filter: drop-shadow(0px 4px 10px rgba(66, 66, 66, 0.25)); */
}

.faq-accordion {
    position: relative;
    min-height: 62px;
    height: fit-content;
    width: 100%;
    padding-left: 25px;
    padding-right: calc(15.25px + 30px);
    padding-top: 18px;
    padding-bottom: 18px;
    /* padding to right of arrow + arrow size */
    /* margin-top: auto;
    margin-bottom: auto; */

    /* Actual background */
    background: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #D6D6D7;

    /* Font */
    color: #04060D;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 25.2px;
    /* 157.5% */
    text-align: left;

    cursor: pointer;
    transition: all 0.2s linear;
}

.faq-accordion:hover {
    background: #DDDDDD;
}

.faq-accordion.active {
    background: #DDDDDD;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.faq-accordion.active:hover {
    background: #F0F0F0;
}

.faq-arrow {
    position: absolute;
    width: 30px;
    height: 28.75px;
    right: 15.25px;

    /* Vertical centering trick for absolute positioned elements below*/
    top: 0; 
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;

    transition: transform 0.5s ease-out;
}

.faq-accordion.active .faq-arrow {
    transform: scaleY(-1);
}

.faq-info {
    display: flex;
    height: 0;
    padding: 0 25px;

    background: #FFFFFF;
    border-radius: 5px;

    overflow: hidden;
    transition: height 0.5s ease, padding 0.5s ease;
    vertical-align: middle;
}

.faq-info p {
    color: #000000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.2px;

    height: fit-content;
}

.faq-accordion.active+.faq-info {
    padding: 23px 25px;
    border-radius: 5px;
    border: 1px solid #D6D6D7;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Selects every FAQ panel in #faq-content EXCLUDING the last panel */
#faq-content .faq-panel:not(:last-child) {
    margin-bottom: 16px;
}

@media screen and (max-width: 575px) {
    .hide-header {
        display: none;
    }
}